<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgh.dao.TPccdbMapper">
  <resultMap id="BaseResultMap" type="com.cgh.domain.TPccdb">
    <id column="pcid" jdbcType="VARCHAR" property="pcid" />
    <result column="mc" jdbcType="VARCHAR" property="mc" />
    <result column="lx" jdbcType="VARCHAR" property="lx" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_pccdb
    where pcid = #{pcid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cgh.domain.TPccdb">
    insert into t_pccdb (pcid, mc, lx, 
      pid, url, img, sort
      )
    values (#{pcid,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, #{lx,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cgh.domain.TPccdb">
    update t_pccdb
    set mc = #{mc,jdbcType=VARCHAR},
      lx = #{lx,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where pcid = #{pcid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select pcid, mc, lx, pid, url, img, sort
    from t_pccdb
    where pcid = #{pcid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select pcid, mc, lx, pid, url, img, sort
    from t_pccdb
  </select>
</mapper>